{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'login\style.css' %}"/>
    <title>BC TA Portal</title>
</head>

<nav>
    <a href="http://services.bc.edu">
        <image src="{% static 'images\logo-1.png' %}" alt="Boston College logo" width="150px"/>
    </a>
        <a href="{%url 'login:create_student' %}" class="create">
        <image src="{% static 'images\user.png' %}" alt="new user icon" width="30px"/>
            <p>Create Student Account</p>
        </a>
        <a href="{%url 'login:create_professor' %}" class="create">
        <image src="{% static 'images\user.png' %}" alt="new user icon" width="30px"/>
            <p>Create Professor Account</p>
        </a>
</nav>

{%block content%}

{% endblock %}