{% load static %}

<link rel="stylesheet" href="{% static 'view_apps/style.css' %}">

<nav class = "header-container">
    <p>Boston College TA Application System</p>
    <p>Admin: {{request.user.username}}</p>
    <p class="logoff-button">
        <a href="{%url 'view_apps:logoff' %}">Log off</a>
    </p>
</nav>
<div class="interface-container">
    <p> All Semesters </p>
    <p> </p>
        <a href="{%url 'view_apps:create_semester' %}" > Create Semester</a>
</div>
{% if semesters %}
    <div class = "course-container">
    {% for semester in semesters %}
        <a href="{%url 'view_apps:view_courses' semester.name %}">
        <div class = "course">
            <div class = "course-title">{{ semester.name }} </div>
            <div class = "course-inner">
                <div>
                    <p> Start: {{semester.start}}
                    <br>
                    <p> End: {{semester.end}}
                    <br>
                    {%if semester.open%}
                        <p> Open: True </p>
                    {% else %}
                        <p> Open: False</p>
                    {% endif %}
                </div>
            </div>
            <p>
                <a class = "apply-button" href="{%url 'view_apps:open_close' semester.name%}">
                    Open / Close Semester
                </a>
                <a class = "apply-button" href="{%url 'view_apps:delete_semester' semester.name%}">
                    Delete Semester
                </a>
            </p>
        </div>
    </a>
    {% endfor %}
    </div>
{% else %}
    <p class = "message">No courses created yet.</p>
{% endif %}
<div class = "interface-container">
    <p> Admin Info</p>
    <p> </p>
        <a href="{%url 'admin:index' %}" > Go To Backend</a>
</div>