<!-- {% load static %} -->

<link rel="stylesheet" href="{% static 'view_apps/forms.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>TA Application</title>
</head>
<body>
   <form class="" method="POST" action="{% url 'view_apps:apply' id%}">
       {% csrf_token %}
        <input type="hidden" name="courseID" id="courseID" value="{{courseID}}" />
        <div class="container">
            <div class="title">TA Application</div>
            <form action="#">
                <div class="user-details">
                    <span class="details"><b>Your personally identifying details will be recorded.</b></span>
                    <span class="details">Name: {{name}}</span>
                    <span class="details">Email: {{email}}</span>
                    <div class="input-box">
                        <span class="details">How much time per week can you comfortably commit to this role?</span>
                        <input name = "office_hours" type="number" placeholder="Enter your time commitment" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Why do you want to be a TA for this class?</span>
                        <textarea name = "why_ta" placeholder="Enter your response" required></textarea>
                    </div>
                    <div class="file">
                        <span class="details">Optional: upload any supporting documents I.e. resume or cover letter</span>
                        <input type="file" placeholder="Upload your file">
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
</form>
</body>
</html>
