<!-- {% load static %} -->

{

<link rel="stylesheet" href="{% static 'view_apps/forms.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Creation</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <div class="title">Course Creation</div>
        <form class="" method="POST" action="{% url 'view_apps:create_course' %}">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">What is the course name?</span>
                    <select name="course_name" id="course_name">
                        <option  value="" selected="selected">---SELECT---</option>
                       {% for course_name in course_names %}
                            <option value="{{ course_name }}">{{ course_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">What is the course ID?</span>
                    <select name="course_id" id="course_id">
                        <option  value="" selected="selected">---SELECT---</option>
                        {% for course_id in course_ids %}
                            <option value="{{ course_id }}">{{ course_id }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">When is the course?</span>
                    <select name="course_time" id="course_time">
                        <option  value="" selected="selected">---SELECT---</option>
                        {% for course_time in course_times %}
                            <option value="{{course_time}}">{{ course_time }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">Can you describe the course?</span>
                    <textarea name="course_description" placeholder="Enter the course description" required></textarea>
                </div>
                <div class="input-box">
                    <span class="details">Number of sections</span>
                    <input name = "num_sections" type="number" placeholder="Enter the total number of sections" required>
                </div>
                <div class="input-box">
                    <span class="details">Section</span>
                    <input name = "section" type="number" placeholder="Enter the section number" required>
                </div>
                <div class="input-box">
                    <span class="details">Number of TAs</span>
                    <input name = "TAs" type="number" placeholder="Enter the number of TAs" required>
                </div>
                <div class="input-box">
                    <span class="details">Amount of office hours per week</span>
                    <input name = "office_hours" type="number" placeholder="Enter the number of office hours" required>
                </div>

                <div class="radio-details">
                    <input type="radio" name="disc" value = "yes" id="dot-1">
                    <input type="radio" name="disc" value = "no" id="dot-2">
                    <span class="radio-title">Discussion Sections</span>
                    <div class="category">
                      <label for = "dot-1">
                      <span class="dot one"></span>
                      <span class="disc">Yes</span>
                        </label>
                    <label for = "dot-2">
                      <span class="dot two"></span>
                      <span class="disc">No</span>
                    </label>
                    </div>
                </div>

                <div class="radio-details">
                    <input type="radio" name="meet" value = "yes" id="dot-3">
                    <input type="radio" name="meet" value = "no" id="dot-4">
                    <span class="radio-title">Meetings</span>
                    <div class="meet">
                    <label for = "dot-3">
                        <span class="dot three"></span>
                        <span class="meeting">In-person</span>
                    </label>
                    <label for = "dot-4">
                        <span class="dot four"></span>
                        <span class="meeting">Asynchronous</span>
                    </label>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Submit">
                </div>
                
    </form>
</body>
</html>
