<!-- {% load static %} -->

<link rel="stylesheet" href="{% static 'view_apps/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Creation</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <div class="title">Course Creation</div>
        <form action="professor.html" method="GET">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">What is your name?</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">What is your email?</span>
                    <input type="email" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                    <span class="details">What is the course name?</span>
                    <input type="text" placeholder="Enter the course name" required>
                </div>
                <div class="input-box">
                    <span class="details">Can you describce the course?</span>
                    <textarea placeholder="Enter the course description" required></textarea>
                </div>
                <div class="input-box">
                    <span class="details">What are the prerequisites?</span>
                    <textarea placeholder="Enter the prerequisites" required></textarea>
                </div>
                <div class="input-box">
                    <span class="details">Number of sections</span>
                    <input type="number" placeholder="Enter the number of sections" required>
                </div>
                <div class="input-box">
                    <span class="details">Number of TAs</span>
                    <input type="number" placeholder="Enter the number of TAs" required>
                </div>
                <div class="input-box">
                    <span class="details">Amount of office hours per week</span>
                    <input type="number" placeholder="Enter the number of office hours" required>
                </div>

                <div class="radio-details">
                    <input type="radio" name="disc" id="dot-1">
                    <input type="radio" name="disc" id="dot-2">
                    <span class="radio-title">Discussion Sections</span>
                    <div class="category">
                      <label for="dot-1">
                      <span class="dot one"></span>
                      <span class="disc">Yes</span>
                        </label>
                    <label for="dot-2">
                      <span class="dot two"></span>
                      <span class="disc">No</span>
                    </label>
                    </div>
                </div>

                <div class="radio-details">
                    <input type="radio" name="meet" id="dot-3">
                    <input type="radio" name="meet" id="dot-4">
                    <span class="radio-title">Meetings</span>
                    <div class="meet">
                    <label for="dot-3">
                        <span class="dot three"></span>
                        <span class="meeting">In-person</span>
                    </label>
                    <label for="dot-4">
                        <span class="dot four"></span>
                        <span class="meeting">Asynchronous</span>
                    </label>
                    </div>
                </div>

                <div class="button">
                    <input type="submit" value="Submit">
                </div>
                
    </form>
</body>
</html>
