{% load static %}

<link rel="stylesheet" href="{% static 'view_apps/style.css' %}">

<nav class = "header-container">
    <p>Boston College TA Application System</p>
    <p>Student: {{request.user.username}}</p>
    <p class="logoff-button">
        <a href="{%url 'view_apps:logoff' %}">Log off</a>
    </p>
</nav>
{% if assigned_course %}
<div>
    <p class = "message">
Congrats, you have been assigned as a TA for {{assigned_course.course_title}}, {{assigned_course.course_id}}, with {{assigned_course.professor_text}}!
        No further actions are necessary.
    </p>
</div>

{% else %}
<div class = "interface-container">
    <p> My Courses </p>
    <p class = "num-apps"> Applications Submitted: {{apps}} / 5</p>
    <p class = "filter-button">
        <a> Filter Courses</a>
    </p>
</div>

{% if course_list %}
    <div class = "course-container">
    {% for course in course_list %}
        {% if course not in applied_course_list and course.is_open%}
        <div class = "course">
            <div class = "course-title">{{ course.course_title }} </div>
            <div class = "course-inner">
                <div>
                    <p> ID: {{ course.course_id }} </p>
                    <p> Professor: {{ course.professor_text }} </p>
                    <p> Time: {{ course.time_text }} </p>
                    <p> Section: {{ course.section }} / {{ course.num_sections }}</p>
                </div>
                <div>
                    <p> Discussions: {{ course.has_discussion }} </p>
                    <p> Meetings: {{ course.has_meetings }} </p>
                    <p> Office Hours: {{ course.num_office_hours }} / Week </p>
                    <p> No. TAs: {{ course.num_accepted }} / {{ course.num_tas }} </p>
                </div>
            </div>
            <div> {{ course.description_text }} </div>
            <p class = "button-container">
                <a class = "apply-button" href="{%url 'view_apps:apply' course.course_id%}">
                    Submit Application
                </a>
            </p>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% else %}
    <p>No courses are available.</p>
{% endif %}
<div class = "other-title">Applied Courses</div>
{% if applied_course_list%}
    <div class = "course-container">
    {% for course in applied_course_list %}
        {% if course.is_open%}
        <div class = "course">
            <div class = "course-title">{{ course.course_title }} </div>
            <div class = "course-inner">
                <div>
                    <p> ID: {{ course.course_id }} </p>
                    <p> Professor: {{ course.professor_text }} </p>
                    <p> Time: {{ course.time_text }} </p>
                    <p> Section: {{ course.section }} / {{ course.num_sections }}</p>
                </div>
                <div>
                    <p> Discussions: {{ course.has_discussion }} </p>
                    <p> Meetings: {{ course.has_meetings }} </p>
                    <p> Office Hours: {{ course.num_office_hours }} / Week </p>
                    <p> No. TAs: {{ course.num_accepted }} / {{ course.num_tas }} </p>
                </div>
            </div>
            <div> {{ course.description_text }} </div>

        </div>
        {%endif%}
    {% endfor %}
    </div>
{% else %}
    <p class = "message">No courses applied to.</p>
{% endif %}
<div class = "other-title">Assigned Courses</div>
{% if accepted_course_list %}
    <div class = "course-container">
    {% for course in accepted_course_list %}
        {% if course.is_open%}
        <div class = "course">
            <div class = "course-title">{{ course.course_title }} </div>
            <div class = "course-inner">
                <div>
                    <p> ID: {{ course.course_id }} </p>
                    <p> Professor: {{ course.professor_text }} </p>
                    <p> Time: {{ course.time_text }} </p>
                    <p> Section: {{ course.section }} / {{ course.num_sections }}</p>
                </div>
                <div>
                    <p> Discussions: {{ course.has_discussion }} </p>
                    <p> Meetings: {{ course.has_meetings }} </p>
                    <p> Office Hours: {{ course.num_office_hours }} / Week </p>
                    <p> No. TAs: {{ course.num_accepted }} / {{ course.num_tas }} </p>
                </div>
            </div>
            <div> {{ course.description_text }} </div>
            <p>
                <a class = "accept-button" href="{%url 'view_apps:accept' course.course_id%}">
                    Accept Assignment
                </a>
            </p>
            <p >
                <a class = "deny-button" href="{%url 'view_apps:deny' course.course_id%}">
                    Deny Assignment
                </a>
            </p>
        </div>
        {%endif%}
    {% endfor %}
    </div>
{% else %}
    <p class = "message">No courses accepted to.</p>
{% endif %}
{% endif %}
