{% load static %}

<link rel="stylesheet" href="{% static 'view_apps/style.css' %}">

<nav class = "header-container">
    <p>Boston College TA Application System</p>
    <p>Student User: {{request.user.username}}</p>
    <p class="logoff-button">
        <a href="{%url 'view_apps:logoff' %}">Log off</a>
    </p>
</nav>
<div class = "interface-container">
    <p> My Courses </p>
    <p> Applications Submitted: {{app.num_uses}} / 5</p>
    <p class = "filter-button">
        <a> Filter Courses</a>
    </p>
</div>
{% if course_list %}
    <div class = "course-container">
    {% for course in course_list %}
        {% if course not in applied_course_list %}
        <div class = "course">
            <div class = "course-title">{{ course.course_title }} </div>
            <div class = "course-inner">
                <div>
                    <p> ID: {{ course.course_id }} </p>
                    <p> Professor: {{ course.professor_text }} </p>
                    <p> Time: {{ course.time_text }} </p>
                    <p> Section: {{ course.section }} / {{ course.num_sections }}</p>
                </div>
                <div>
                    <p> Discussions: {{ course.has_discussion }} </p>
                    <p> Meetings: {{ course.has_meetings }} </p>
                    <p> Office Hours: {{ course.num_office_hours }} / Week </p>
                    <p> No. TAs: {{ course.num_tas }} </p>
                </div>
            </div>
            <div> {{ course.description_text }} </div>
            <p class = "apply-button">
                <a href="{%url 'view_apps:apply' course.course_id%}">
                    <p>Submit Application</p>
                </a>
            </p>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% else %}
    <p>No courses are available.</p>
{% endif %}
{% if applied_course_list %}
    <div class = "course-container">
    {% for course in applied_course_list %}
        <div class = "course">
            <div class = "course-title">{{ course.course_title }} </div>
            <div class = "course-inner">
                <div>
                    <p> ID: {{ course.course_id }} </p>
                    <p> Professor: {{ course.professor_text }} </p>
                    <p> Time: {{ course.time_text }} </p>
                    <p> Section: {{ course.section }} / {{ course.num_sections }}</p>
                </div>
                <div>
                    <p> Discussions: {{ course.has_discussion }} </p>
                    <p> Meetings: {{ course.has_meetings }} </p>
                    <p> Office Hours: {{ course.num_office_hours }} / Week </p>
                    <p> No. TAs: {{ course.num_tas }} </p>
                </div>
            </div>
            <div> {{ course.description_text }} </div>
            <p class = "apply-button">
                    <p>APPLIED</p>
            </p>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No courses are available.</p>
{% endif %}
