  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #931b1b, #967851);
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: #931b1b;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }

  /* .interface-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    } */

    .interface-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-radius: 5px;
      width: 100%;
      margin-top: 1rem;
    }
    
    .interface-container p {
      color: #fff;
      margin-right: 20px;
    }
    
    .interface-container p:first-of-type {
      margin-right: auto;
      font-size: 24px;
      font-weight: bold;
    }
    
    .interface-container a {
      color: #fff;
      text-decoration: none;
      background-color: #967851;
      padding: 10px 20px;
      border-radius: 4px;
      transition: background-color 0.2s ease;
    }
    
    .interface-container a:hover {
      background-color: #b89263;
    }
    .application-list,
    .container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    white-space: normal;
    word-wrap: break-word;
    }
    
    .logoff-button {
      color: #fff;
      cursor: pointer;
    }
    
    .logoff-button a {
    text-decoration: none;
    color: #fff;
    }
    
    .application {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    }
    
    .apply-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #931b1b;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    }
    
    .apply-button:hover {
    background-color: #967851;
    }

    .class_name {
      display: block;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    @media (max-width: 768px) {
    .header-container,
    .interface-container {
    flex-direction: column;
    text-align: center;
    }
    }
    
    @media (max-width: 584px) {
    .container {
    max-width: 100%;
    }
    }
    
    @media (max-width: 459px) {
    .container .content .category {
    flex-direction: column;
    }
    }

    .container {
        width: 80%;
        margin: 0 auto;
        margin-top:30px;
    }

    .application {
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        background-color: #f0f0f0;
        margin-bottom: 20px;
    }

  .class_name {
    font-weight: bold;
    margin-bottom: 10px;
  }
    
  .application--details {
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: 103%;
  }

  .why-ta-container {
    text-align: left;
    margin-bottom: 10px;
}

.why-ta {

  text-align: left;
  display: inline-block;
  max-width: 60ch;
  word-wrap: break-word;
}
